@media(min-width:320px){
			.image{
				width:100%;
				order:2;
			}
			.timer{
				width:100%;
				order:1;
			}
			.row{
				flex-wrap:wrap;
				width:100%;
			}
			h1{
				font-size:25px;
			}
		}
		@media(min-width:620px){
			h1{
				font-size:35px;
			}
		}
		@media(min-width:900px){
			.image{
				width:50%;
				oredr:1;
			}
			.timer{
				width:50%;
				order:2;
			}
			.row{
				flex-wrap:nowrap;
				width:80%;
			}
			h1{
				font-size:40px;
			}
		}
		.row{
			display:flex;
			margin:auto;
			border-radius:20px;
			overflow:hidden;
			box-shadow:0 0 10px #ccc;
		}
		
		.timer{
			display:flex;
			align-items:center;
			text-align:center;
			background-color:violet;
		}
		.numbers{
			width:100%;
			display:flex;
			justify-content:space-between;
			align-items:center;
			text-align:center;
			padding:20px;
		}
		h1{
			border-radius:10px;
			padding:20px;
			background-color:#000;
			color:#fff;
		}
		img{
			width:100%;
		}